@charset "UTF-8";

.d-flex {
	display: -webkit-box !important;
	display: -ms-flexbox !important;
	display: flex !important;
}

.mx-3 {
	margin-left: 1rem !important;
	margin-right: 1rem !important;
}

.py-4 {
	padding-top: 1.5rem !important;
	padding-bottom: 1.5rem !important;
}

.bg-li {
	background: #f8f9fa;
}

a.move-top span {
	color: #05b993;
	font-size: 30px;
}

.position-relative {
	position: relative !important;
}

.mx-md-auto {
	margin-right: auto !important;
	margin-left: auto !important;
}

.my-md-0 {
	margin-bottom: 0 !important;
}

.mb-3, .my-3 {
	margin-bottom: 1rem !important;
}

.text-bl {
	color: #343a40;
	margin: 0;
	padding: 0;
	font-size: 14px;
	letter-spacing: 1px;
	line-height: 1.9;
	font-family: 'Poppins', sans-serif;
}

.d-md-flex {
	display: -webkit-box !important;
	display: -ms-flexbox !important;
	display: flex !important;
}

.px-md-3 {
	padding-right: 1rem !important;
	padding-left: 1rem !important;
}

.search-w3layouts input[type="search"] {
    outline: none;
    padding: 12px 15px;
    color: #000;
    font-size: 13px;
    border: none;
    letter-spacing: 1px;
    background: #f7f7f7;
}

.search-w3layouts button {
    background: #05b993;
    color: #fff;
    border: none;
    font-size: 14px;
    padding: 10px 15px;
    -webkit-border-radius: 0px;
    -o-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0;
}

.search-w3layouts button:hover {
    opacity: .8;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

.c-btn {
	display: inline-block;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid transparent;
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: 0.25rem;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
		border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	height: auto;
}

.c-form-control {
	display: block;
	width: 100%;
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: 0.25rem;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.c-form-control::-ms-expand {
	background-color: transparent;
	border: 0;
}

.c-form-control:focus {
	color: #495057;
	background-color: #fff;
	border-color: #80bdff;
	outline: 0;
	box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.c-form-control::-webkit-input-placeholder {
	color: #6c757d;
	opacity: 1;
}

.c-form-control::-moz-placeholder {
	color: #6c757d;
	opacity: 1;
}

.c-form-control:-ms-input-placeholder {
	color: #6c757d;
	opacity: 1;
}

.c-form-control::-ms-input-placeholder {
	color: #6c757d;
	opacity: 1;
}

.c-form-control::placeholder {
	color: #6c757d;
	opacity: 1;
}

.c-form-control:disabled, .c-form-control[readonly] {
	background-color: #e9ecef;
	opacity: 1;
}

select.c-form-control:not ([size] ):not ([multiple] ) {
	height: calc(2.25rem + 2px);
}

select.c-form-control:focus::-ms-value {
	color: #495057;
	background-color: #fff;
}

/* dwn button */
.dwn-w3ls {
	padding: 0.375rem 0.75rem;
    width: 42px;
    height: 42px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    text-align: center;
    display: inline-block;
}

.dwn-w3ls span {
    color: #fff;
    font-size: 16px;
    line-height: 28px;
}

/* //dwn button */
