@charset "UTF-8";

.c-acolor a {
	color: black;
}

::selection {
    background: #2980b9;
    color: #222;
    text-shadow: none;
}

.col-md-offset-2 {
	margin-left: 16.66666667%
}

/* 无重复 */
#content-wrapper {
/* 	max-width: 1270px; */
    margin: 0 5vw 0 10vw;
    background-color: #fff;
}
#content-wrapper {
    overflow: hidden;
    display: block;
    position: relative;
}

@media all and (min-width: 769px) {
    #headerwrap, .fullheight {
        min-height: 100vh
    }
    .page-section {
        padding-top: 90px;
        padding-bottom: 90px;
    }
}

.row {
    margin-right: 0px;
    margin-left: -15px;
}

.c-newfont{
    font-family: 'Raleway';
    font-weight: 700;
}

/* ==========================================================================
   Blog Section
   ========================================================================== */
   .blog-bg {
    margin-bottom: 50px;
    overflow: hidden;
}

.blog-bg img {
    max-width: 100%;
    height: auto;
}

.title-mb {
    margin-bottom: 60px;
}

.divider-spacer {
    margin: 35px 0 60px;
}

.blog-meta {
    position: relative;
    background: #202020;
    z-index: 1;
    padding: 10px;
}

.blog-meta img {
    max-width: 100%;
    height: auto;
}

.blog-meta:after {
    left: 100%;
    top: 25px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(43, 43, 43, 0);
    border-left-color: #2b2b2b;
    border-width: 10px;
    margin-top: -10px;
    z-index: 1;
}

.blog-meta-main {
    font-size: 14px;
    font-weight: bold;
    margin: 10px 0 10px 0;
    color: #c0c0c0;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.blog-meta-main span:hover, .blog-meta-main span a {
    color: #505050;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.blog-meta-main a {
    color: #888;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.blog-counts {
    padding: 10px;
    margin-bottom: -10px;
    margin-left: -10px;
    margin-right: -10px;
    background: #333;
    color: #eee;
}

.blog-counts .counter {
    font-size: 14px;
    display: inline;
    margin: 0 0 0 6px;
    color: #eee;
    line-height: 1.4;
}

.blog-counts h5 {
    margin: 0;
}

.blog-meta-main .post-meta-link {
    margin-right: 10px;
}

.blog-bg h3{
    color: #eee;
    font-family: 'Raleway';
    font-weight: 700;
    line-height: 50px;
}


.blog-bg h4 {
    color: #eee;
    padding-top: 0px;
}

.blog-bg h5 {
    color: #dadada;
    font-size: 11px;
}

.blog-content {
    position: relative;
    top:-50px;
    padding-top: 10px;
    background: #f5f5f5;
    border-bottom: 4px solid #ccc;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.blog-content h2 {
    margin-top: 5px;
    font-size: 24px;
}

.blog-content .btn {
    float: right;
    margin-bottom: 20px;
}

/* ================================================ */

.no-display {
    opacity: 0;
}

.sidebar-post-content {
    padding: 0;
}

.sidebar-post-content h4 {
    margin: 0 0 7px;
    text-transform: uppercase;
    font-size: 16px;
}

.sidebar-post-content .blog-meta-main {
    font-size: 12px;
    margin: 0 0 5px;
    line-height: 1.4;
}

.sidebar-post-content .blog-meta-main span {
    margin-bottom: 3px;
    display: block;
}

.sidebar-post-content .blog-meta-main {
    font-size: 12px;
    margin: 0 0 5px;
    line-height: 1.4;
}

.sb-img {
    max-width: 100%;
    width: 100%;
    height: auto;
}

.white p {
    padding-top: 3px;
    line-height: 28px;
    margin-bottom: 25px;
    font-family: 'Raleway';
    font-weight: 300;
    font-size: 16px;
    color: #555;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden !important;
    letter-spacing: normal;
}

/* ==========================================================================
   Image Mask
   ========================================================================== */
.grid figure {
    margin: 0;
    position: relative;
}

.grid figure img {
    width: 100%;
    display: block;
    position: relative;
}

.grid figcaption {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 15px;
    color: #ffffff;
    background: rgba(0,0,0,0.6);
}

.grid figcaption h5 {
    margin: 0 0 10px;
    font-size: 14px;
    padding-top: 0px;
    padding-left: 0;
    padding-bottom: 0px;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0px;
    width: 100%;
    clear: both;
    display: inline-block;
}

.grid figcaption a {
    text-align: center;
    padding: 5px 10px;
    display: inline-block;
    background: #2f2f2f;
    color: #ffffff;
    font-size: 14px;
}

/* Caption Style */
.mask figure {
    overflow: hidden;
}

.mask figure img {
    -webkit-transition: -webkit-transform 0.4s;
    -moz-transition: -moz-transform 0.4s;
    transition: transform 0.4s;
    -webkit-user-select: none;
    -webkit-touch-callout: none;  
    }

.no-touch .mask figure:hover img,
.mask figure.cs-hover img,
.mask figure:focus img,
.mask figure:active img {
    -webkit-transform: translateY(-0px);
    -moz-transform: translateY(-0px);
    -ms-transform: translateY(-0px);
    transform: translateY(-0px);
}

.mask figcaption {
    text-align: center;
    height: 100%;
    width: 100%;
    top: auto;
    bottom: 0;
    opacity: 0;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
    -moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
    transition: transform 0.4s, opacity 0.1s 0.3s;
}

.no-touch .mask figure:hover figcaption,
.mask figure:focus figcaption,
.mask figure:active figcaption,
.mask figure.cs-hover figcaption {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
    -moz-transition: -moz-transform 0.4s, opacity 0.1s;
    transition: transform 0.4s, opacity 0.1s;
}

.mask figure.hovereffect figcaption {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
    -moz-transition: -moz-transform 0.4s, opacity 0.1s;
    transition: transform 0.4s, opacity 0.1s;
}

.grid figure:active figcaption, .grid figure:focus figcaption {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
    -moz-transition: -moz-transform 0.4s, opacity 0.1s;
    transition: transform 0.4s, opacity 0.1s;
}

.mask figcaption a {
    position: relative;
    border: 2px solid #fff;
    background-color: rgba(0,0,0,0);
    border-radius: 0;
    padding: 8px 10px 7px;
    top: 50%;
    margin-top: -18px;
}

.mask figcaption a:hover {
    background-color: #fff;
    border: 2px solid #fff;
    color: #2980b9;
}

.img-wrapper {
    position: relative;
    overflow: hidden;
}

.img-wrapper img {
    position: relative;
}

.img-wrapper .img-mask {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0,0,0,0.8);
    display: block;
    top: 0;
    opacity: 0;
    text-align: center;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.img-wrapper:hover .img-mask {
    opacity: 1;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.mask-icon {
    font-size: 20px;
    color: #fff;
    border: 2px solid #fff;
    opacity: 0.6;
    display: block;
    position: relative;
    top: 50%;
    margin: 0 auto;
    width: 45px;
    height: 45px;
    line-height: 44px;
    margin-top: -20px;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.mask-icon:hover {
    color: #fff;
    opacity: 1;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.ih-item.square {
    width: 100% !important;
    height: auto !important;
    border: none !important;
    box-shadow: none !important;
}
    