<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ishang.beauty.dao.CommentMapper">
  <resultMap id="BaseResultMap" type="com.ishang.beauty.entity.Comment">
    <id column="cid" jdbcType="INTEGER" property="cid" />
    <result column="aid" jdbcType="INTEGER" property="aid" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="date" jdbcType="TIMESTAMP" property="date" />
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from comment
    where cid = #{cid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ishang.beauty.entity.Comment">
    insert into comment (cid, aid, `uid`, 
      `date`, content)
    values (#{cid,jdbcType=INTEGER}, #{aid,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, 
      #{date,jdbcType=TIMESTAMP}, #{content,jdbcType=LONGVARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.ishang.beauty.entity.Comment">
    update comment
    set aid = #{aid,jdbcType=INTEGER},
      `uid` = #{uid,jdbcType=INTEGER},
      `date` = #{date,jdbcType=TIMESTAMP},
      content = #{content,jdbcType=LONGVARCHAR}
    where cid = #{cid,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select cid, aid, `uid`, `date`, content
    from comment
    where cid = #{cid,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select cid, aid, `uid`, `date`, content
    from comment
  </select>
</mapper>