@charset "UTF-8";

.c-acolor a {
	color: black;
}

::selection {
    background: #2980b9;
    color: #222;
    text-shadow: none;
}

.col-md-offset-2 {
	margin-left: 16.66666667%
}

/* 无重复 */
#content-wrapper {
/* 	max-width: 1270px; */
    margin: 0 5vw 0 10vw;
    background-color: #fff;
}
#content-wrapper {
    overflow: hidden;
    display: block;
    position: relative;
}

@media all and (min-width: 769px) {
    #headerwrap, .fullheight {
        min-height: 100vh
    }
    .page-section {
        padding-top: 90px;
        padding-bottom: 90px;
    }
}

.row {
    margin-right: 0px;
    margin-left: -15px;
}

.c-newfont{
    font-family: 'Raleway';
    font-weight: 700;
}

/* ==========================================================================
   Blog Section
   ========================================================================== */
   .blog-bg {
    margin-bottom: 50px;
    overflow: hidden;
}

.blog-bg img {
    max-width: 100%;
    height: auto;
}

.title-mb {
    margin-bottom: 60px;
}

.divider-spacer {
    margin: 35px 0 60px;
}

.blog-meta {
    position: relative;
    background: #202020;
    z-index: 1;
    padding: 10px;
}

.blog-meta img {
    max-width: 100%;
    height: auto;
}

.blog-meta:after {
    left: 100%;
    top: 25px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(43, 43, 43, 0);
    border-left-color: #2b2b2b;
    border-width: 10px;
    margin-top: -10px;
    z-index: 1;
}

.blog-meta-main {
    font-size: 14px;
    font-weight: bold;
    margin: 10px 0 10px 0;
    color: #c0c0c0;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.blog-meta-main span:hover, .blog-meta-main span a {
    color: #505050;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.blog-meta-main a {
    color: #888;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.blog-counts {
    padding: 10px;
    margin-bottom: -10px;
    margin-left: -10px;
    margin-right: -10px;
    background: #333;
    color: #eee;
}

.blog-counts .counter {
    font-size: 14px;
    display: inline;
    margin: 0 0 0 6px;
    color: #eee;
    line-height: 1.4;
}

.blog-counts h5 {
    margin: 0;
}

.blog-meta-main .post-meta-link {
    margin-right: 10px;
}

.blog-bg h3{
    color: #eee;
    font-family: 'Raleway';
    font-weight: 700;
    line-height: 50px;
}


.blog-bg h4 {
    color: #eee;
    padding-top: 0px;
}

.blog-bg h5 {
    color: #dadada;
    font-size: 11px;
}

.blog-content {
	height: 150px;
    overflow: hidden;
    position: relative;
    top:-50px;
    padding-top: 10px;
    background: #f5f5f5;
    border-bottom: 4px solid #ccc;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.blog-content h2 {
    margin-top: 5px;
    font-size: 24px;
}

.blog-content .btn {
    float: right;
    margin-bottom: 20px;
}

/* ================================================ */

.no-display {
    opacity: 0;
}

.sidebar-post-content {
    padding: 0;
}

.sidebar-post-content h4 {
    margin: 0 0 7px;
    text-transform: uppercase;
    font-size: 16px;
}

.sidebar-post-content .blog-meta-main {
    font-size: 12px;
    margin: 0 0 5px;
    line-height: 1.4;
}

.sidebar-post-content .blog-meta-main span {
    margin-bottom: 3px;
    display: block;
}

.sidebar-post-content .blog-meta-main {
    font-size: 12px;
    margin: 0 0 5px;
    line-height: 1.4;
}

.sb-img {
    max-width: 100%;
    width: 100%;
    height: auto;
}

.white p {
    padding-top: 3px;
    line-height: 28px;
    margin-bottom: 25px;
    font-family: 'Raleway';
    font-weight: 300;
    font-size: 16px;
    color: #555;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden !important;
    letter-spacing: normal;
}

/* ==========================================================================
   Image Mask
   ========================================================================== */
.grid figure {
    margin: 0;
    position: relative;
}

.grid figure img {
    width: 100%;
    display: block;
    position: relative;
}

.grid figcaption {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 15px;
    color: #ffffff;
    background: rgba(0,0,0,0.6);
}

.grid figcaption h5 {
    margin: 0 0 10px;
    font-size: 14px;
    padding-top: 0px;
    padding-left: 0;
    padding-bottom: 0px;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0px;
    width: 100%;
    clear: both;
    display: inline-block;
}

.grid figcaption a {
    text-align: center;
    padding: 5px 10px;
    display: inline-block;
    background: #2f2f2f;
    color: #ffffff;
    font-size: 14px;
}

/* Caption Style */
.mask figure {
    overflow: hidden;
}

.mask figure img {
    -webkit-transition: -webkit-transform 0.4s;
    -moz-transition: -moz-transform 0.4s;
    transition: transform 0.4s;
    -webkit-user-select: none;
    -webkit-touch-callout: none;  
    }

.no-touch .mask figure:hover img,
.mask figure.cs-hover img,
.mask figure:focus img,
.mask figure:active img {
    -webkit-transform: translateY(-0px);
    -moz-transform: translateY(-0px);
    -ms-transform: translateY(-0px);
    transform: translateY(-0px);
}

.mask figcaption {
    text-align: center;
    height: 100%;
    width: 100%;
    top: auto;
    bottom: 0;
    opacity: 0;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
    -moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
    transition: transform 0.4s, opacity 0.1s 0.3s;
}

.no-touch .mask figure:hover figcaption,
.mask figure:focus figcaption,
.mask figure:active figcaption,
.mask figure.cs-hover figcaption {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
    -moz-transition: -moz-transform 0.4s, opacity 0.1s;
    transition: transform 0.4s, opacity 0.1s;
}

.mask figure.hovereffect figcaption {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
    -moz-transition: -moz-transform 0.4s, opacity 0.1s;
    transition: transform 0.4s, opacity 0.1s;
}

.grid figure:active figcaption, .grid figure:focus figcaption {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
    -moz-transition: -moz-transform 0.4s, opacity 0.1s;
    transition: transform 0.4s, opacity 0.1s;
}

.mask figcaption a {
    position: relative;
    border: 2px solid #fff;
    background-color: rgba(0,0,0,0);
    border-radius: 0;
    padding: 8px 10px 7px;
    top: 50%;
    margin-top: -18px;
}

.mask figcaption a:hover {
    background-color: #fff;
    border: 2px solid #fff;
    color: #2980b9;
}

.img-wrapper {
    position: relative;
    overflow: hidden;
}

.img-wrapper img {
    position: relative;
}

.img-wrapper .img-mask {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0,0,0,0.8);
    display: block;
    top: 0;
    opacity: 0;
    text-align: center;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.img-wrapper:hover .img-mask {
    opacity: 1;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.mask-icon {
    font-size: 20px;
    color: #fff;
    border: 2px solid #fff;
    opacity: 0.6;
    display: block;
    position: relative;
    top: 50%;
    margin: 0 auto;
    width: 45px;
    height: 45px;
    line-height: 44px;
    margin-top: -20px;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.mask-icon:hover {
    color: #fff;
    opacity: 1;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.ih-item.square {
    width: 100% !important;
    height: auto !important;
    border: none !important;
    box-shadow: none !important;
}
    
/* ==========================================================================
  SINGLE PROJECTS
   ========================================================================== */
   .single-project-slideshow {
}

.single-project-slideshow h2 {
    color: #fff;
    font-size: 36px;
    text-transform: uppercase;
    margin: 40px 0 0px;
}

.single-project-slideshow .carousel-control span {
    border: 0px solid #fff;
    padding: 12px 8px 8px 7px;
    line-height: 30px;
}

.carousel-control.left, .carousel-control.right {
    background-image: none;
}

.carousel-control {
    opacity: 1;
}

#currently-viewing {
    margin-top: 0;
    background-color: rgba(0,0,0,0);
    border-bottom: none !important;
}

#tubular-container {
    z-index: -5 !important;
}

#big-video-wrap {
    background-color: #fff !important;
    overflow:hidden;
    position:fixed;
    height:100%;
    width:100%;
    top:0;
    left:0; 
    z-index: -1;
}

#big-video-wrap video, #big-video-vid {
    background-color: #fff !important;
    background: #fff;
}
#big-video-vid,#big-video-image{position:absolute;}
#big-video-control-container{position:fixed;bottom:0;padding:10px;width:100%;background:rgba(0,0,0,.25);
  -webkit-transition-duration:0.6s;-moz-transition-duration:0.6s;-ms-transition-duration:0.6s;-o-transition-duration:0.6s;transition-duration:0.6s;}
#big-video-control{width:100%;height:16px;position:relative;}
#big-video-control-middle{margin: 0 56px 0 24px;}
#big-video-control-bar{display: none;width:100%;height:16px;position:relative;cursor:pointer;}
#big-video-control-progress{position:absolute;top:7px;height:3px;width:0%;background:#fff;}
#big-video-control-track{position:absolute;top:8px;height:1px;width:100%;background:#fff;}
#big-video-control-bound-left{left:0;}
#big-video-control-bound-right{right:-1px}
#big-video-control-track .ui-slider-handle {opacity:0;}
#big-video-control-playhead{left:30%;}
#big-video-control-play{position:absolute;top:0;left:0;height:16px;width:16px;background-image:url('bigvideo.png');}
#big-video-control-timer{position:absolute;top:1px;right:0;color:#fff;font-size:11px;}
#big-video-control-playhead,#big-video-control-bound-left,#big-video-control-bound-right{position:absolute;top:0;height:16px;width:1px;background:#fff;}
#big-video-control .ui-slider-handle{border-left:solid 1px #fff; width:16px;height:16px;position:absolute;top:-8px;}
.transparent{-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);-moz-opacity:0;-khtml-opacity:0;opacity:0;}
.vjs-big-play-button{display:none !important;}
.vjs-control-bar {
    display: none;
}

.navbar-brand {
    padding: 0;
}

.navbar-nav {
    float: right;
}

.navbar-fixed-top {
    width: 100%;
}

.navbar-default {
    border-color: transparent;
    background-color: rgba(255,255,255,0.0);
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: #fff;
}

.navbar-default.opaqued .navbar-nav > li > a, .navbar-default.opaqued .navbar-brand h1, .navbar-default.opaqued .navbar-brand {
    color: #ffffff;
    background: transparent;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    font-size: 14px;
}

.navbar-brand h1 {
    text-transform: uppercase;
}

.navbar-brand .pe-7s-loop {
    position: relative;
    margin-right: -2px;
    -webkit-transform: rotate(45deg); 
    -moz-transform: rotate(45deg); 
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg); 
    font-size: 30px;
}

.navbar-default.opaqued h1 {
    font-size: 38px !important;
    position: relative;
    top: -2px;
}

.opaqued.navbar-default .navbar-toggle, .opaqued.navbar-default .navbar-toggle:hover, .opaqued.navbar-default .navbar-toggle:focus {
    border-color: transparent;
    background-color: transparent;
    color: #fff;
}

.navbar-default .navbar-toggle, .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    border-color: transparent;
    background-color: transparent;
    color: #222;
}

.dropdown-menu {
    border: none !important;
    border-radius: 0 !important; 
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.dropdown-menu li {
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
}

.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 700;
    line-height: 1.428571429;
    color: #333;
    white-space: nowrap;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    background-color: #fff;
    font-size: 12px;
}

.opaqued {
    padding: 0;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.opaqued {
    padding: 25px 0;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.navbar-toggle {
    border-color: transparent;
    border: 0px solid transparent;
}

.navbar-brand {
    padding: 0;
}

.navbar-brand h1 {
    margin: 15px 0;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #2980b9;
    background-color: transparent;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    background-color: transparent;
    color: #202020;
}

.navbar-default.opaqued .navbar-nav > li > a:hover,
.navbar-default.opaqued .navbar-nav > li > a:focus {
    background-color: transparent;
    color: #e5e5e5;
    text-shadow: rgba(0,0,0,0.4) 0px 1px 1px;
}

.navbar-nav > li > a {
    padding-top: 25px;
    padding-bottom: 25px;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.navbar-nav > li > a:after {
    content: '';
    width: 34px;
    height: 5px;
    position: absolute;
    border-bottom: none;
    margin: 0 auto;
    left: 50%;
    margin-left: -17px;
    top: 55px;
}


.upblog-container{
	width: 90%;
	margin-top: -50px;
	margin-left: 20px;
}

.upblog{
	margin-bottom: 25px;
}

.upblog-word{
	height: auto;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    position: relative;
    border: 1px solid #ddd;
}

.upblog-word img{
	max-width: 100%;
}

.upblog:hover .upblog-word,
.upblog-word.active {
    -webkit-box-shadow: 1px 2px 16px 2px #d8d8d8;
    -moz-box-shadow: 1px 2px 16px 2px #d8d8d8;
    box-shadow: 1px 2px 16px 2px #d8d8d8;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

.upblog-word h4{
	height: 1.5em;
	font-size: 20px;
    color: #000;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.29);
    letter-spacing: 1px;
    font-weight: 500;
	overflow: hidden;
	width: 100%;
	white-space: normal;
}

.upblog-word p{
	font-size: small; 
	max-height: 7em; 
	margin: 0;
    color: #656161;
	overflow: hidden;
	width:100%;
	min-height: 3em;
}

.upblog-word:hover .upblog-word h4 {
    box-shadow: none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}


