@charset "UTF-8";

/*基本设定*/
a, abbr, acronym, address, applet, article, aside, audio, b, big,
	blockquote, body, canvas, caption, center, cite, code, dd, del, details,
	dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form,
	h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd,
	label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby,
	s, samp, section, small, span, strike, strong, sub, summary, sup, table,
	tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
	font-weight: 400;
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	/* word-break: break-word */
}

article, aside, details, figcaption, figure, footer, header, hgroup,
	menu, nav, section {
	display: block
}

em, i {
	font-style: normal
}

ol, ul {
	list-style: none
}

b {
	font-weight: 700
}

blockquote, q {
	quotes: none
}

blockquote:after, blockquote:before, q:after, q:before {
	content: "";
	content: none
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

html {
	background: #f4f5f7
}

body, html {
	height: 100%
}

body {
	color: #222;
	font-size: 12px;
	line-height: 1.7em;
	margin: 0;
	overflow-y: scroll
}

body, input, textarea {
	font-family: Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif
}

input, textarea {
	outline: none
}

a {
	color: inherit;
	text-decoration: none;
	transition: color .2s ease, background-color .2s ease
}

a[href="javascript: 0"] {
	cursor: default
}

a:hover {
	color: #00a1d6
}

/*定制*/
.relation-list {
	padding: 0 20px 20px
}

.list-item {
	border-bottom: 1px solid #eee;
	display: block;
	padding: 20px 0;
	position: relative;
	line-height: 1
}
.list-item .cover {
	border-radius: 48px;
	overflow: visible;
	margin-left: 0
}

.list-item img {
	border-radius: 60px;
	width: 60px;
	height: 60px
}

.list-item .content {
	padding: 0 200px 0 0;
	position: relative;
	top:-60px;
	margin-left: 88px;
	margin-top: 10px
}

.list-item .title {
	font-size: 16px;
	line-height: 1;
	display: inline-block;
	font-size: 18px;
	margin-bottom: 10px
}
.list-item .desc {
	color: #6d757a;
	overflow: hidden;
	white-space: nowrap;
	width: 100%;
	text-overflow: ellipsis;
	padding-right: 10px;
	color: #777;
	line-height: 20px;
	overflow: hidden
}

.fans-action {
	position: absolute;
	right: 0;
	top: 9px
}

.fans-action-btn {
	float: left;
	display: block;
	line-height: 22px;
	margin-left: 15px;
	font-size: 0;
	color: #6d757a;
	text-align: center;
	vertical-align: middle;
	cursor: pointer
}

.fans-action-btn:hover {
	color: #00a1d6
}

.fans-action-btn.follow {
	border: 1px solid #ccd0d7;
	border-radius: 4px;
	width: 74px
}

.fans-action-btn.follow:hover {
	border-color: #00a1d6
}

.fans-action-btn.unfollow {
	background: #edf2f9;
	color: #999;
	width: 66px
}

.fans-action-btn.unfollow:hover {
	border-color: #edf2f9;
	color: #999
}

.fans-action-follow {
	background-color: #e5e9ef;
	position: relative;
	border-radius: 4px;
	font-size: 0;
	color: #6d757a;
	padding: 10px 25px;
	line-height: 30px;
	border: 0
}

.fans-action-follow:hover .fans-action-popup-wrapper {
	display: block;
	top: 23px
}

.be-dropdown {
	position: relative;
	display: inline-block;
	cursor: pointer
}

.fans-action-text {
	line-height: 16px;
	font-size: 16px;
	vertical-align: middle
}